<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.failedprojects.anjaroot.library"
    android:versionCode="@integer/versionCodeManifest"
    android:versionName="@string/versionNameManifest" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

</manifest>